@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background: url(/bg-intro-desktop.png) rgb(209, 88, 112);
}
.navbar{
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(250, 174, 189);
}
.nav-link{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 1vmax;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: white;
  background-color: rgb(189, 110, 126);
  transition: 0.3s;
}
.nav-link:hover{
  background-color: rgb(136, 57, 73);
}


.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.container-form {
  margin: 0;
  box-shadow: 1px 2px 5px crimson;
  padding: 1rem;
  text-align: center;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}
.description-text {
  text-transform: capitalize;
  width: 30%;
  color: white;
  font-size: 0.9vmax;
  font-weight: 500;
}
.description-text > h1 {
  font-size: 3vmax;
  font-weight: 1100;
  margin: 0;
}
.warning{
    font-size: 0.6rem;
    font-weight: 600;
    text-align: end;
    margin: -1rem 0 -1rem 0;
    color: rgb(255, 255, 255);
}
.inputs {
  margin: 1rem 2rem 1rem 2rem;
  width: 30%;
  display: flex;
  line-height: 2rem;
  flex-direction: column;
  justify-content: center;
}
.forms {
  display: flex;
  flex-direction: column;
}
.btn {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background: rgb(131, 230, 106);
  font-weight: 600;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 5px rgb(84, 150, 67);
  color: white;
  font-size: 1.1vmax;
  margin-top: 1rem;
  transition: 0.3s;
  height: 2.5rem;
}
.btn:hover {
  background: rgb(84, 150, 67);
  box-shadow: none;
}
.btn1 {
  text-align: center;
  background: rgb(108, 76, 197);
  font-weight: 700;
  border: 0;
  box-shadow: 3px 3px 10px rgb(36, 36, 36);
  border-radius: 5px;
  color: white;
  font-size: 1.1vmax;
  height: 3rem;
}
.textLabel {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 25px;
  border-radius: 5px;
  border: rgb(196, 103, 103) 2px solid;
  background: rgb(252, 252, 252);
  height: 3rem;
}
span {
  text-align: center;
  color: rgb(145, 145, 145);
  font-size: 0.7vmax;
}
.terms {
  text-decoration: none;
  color: rgb(196, 103, 103);
  font-weight: 600;
}
::placeholder {
  color: rgb(218, 218, 218);
  font-weight: 300;
}
.textLabel:focus {
  outline: none;
}
@media(max-width:950px){
::placeholder{font-size: 2vmax;}
.textLabel{margin:0.5rem;
  height: 50%;}
  .container{transform: scale(80%);
    flex-direction: column;
  }
  html,body{margin: 0;}
span{font-size: 1.3vmax;}
.container-form{padding: 0.2rem;
}
}